{% for dep in dependencies.base %}
{{ dep }}
{% endfor %}

{% if options.rest_framework %}
{% for dep in dependencies.rest_framework %}
{{ dep }}
{% endfor %}
{% endif %}

{% if options.cors %}
{% for dep in dependencies.cors %}
{{ dep }}
{% endfor %}
{% endif %}

{% for dep in extensions["python.dependencies"] %}
{{ dep }}
{% endfor %}